.single-card {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 1em 0;
	
	.label {
		height: 30%;
		padding: 10px;
		text-align: center;
		text-shadow: 0 1px 1px #cfd8dc;
		display: none;
	}
	&:hover, &:focus {
		.label {
			display: block;
		}
	}
}
