@import 'Media.scss'; 

.movie-container {
	display: flex;
	margin-top: 1em;
	align-items: center;
	flex-wrap: wrap;
}

.poster-container {
  padding: 5px;
  box-shadow: none;
  transition: box-shadow 1s;
  border: solid 1px #EFEFEF;
  margin-left: 4vw;
		@include respond-to(handhelds) {
			margin-left: -3vw;
		}
}

.poster-container:hover  {
  border: solid 1px #EFEFEF;
  -moz-box-shadow: -5px 8px 20px #999;
  -webkit-box-shadow: -5px 8px 20px #999;
  box-shadow: -5px 8px 20px #999;
}

Img {
	width: 400px;
		@include respond-to(handhelds) {
	    width: 90vw;
	    height: 60vh;
	    margin: none;
	  }
}


.movie-content {
	font-family: 'Source Sans Pro', sans-serif;
	width: 500px;
	margin: auto auto;
	font-family: 'Source Sans Pro', sans-serif;
		@include respond-to(handhelds) {
		  font-size: 4vw; 
		}

		@include respond-to(tablets) {
		  font-size: 4vw;
		  margin-left: 4vw;
		}

		@include respond-to(wide) {
		  font-size: 2vw;
		}
}
